/* Start of NavBar */

.primary-navigation {
  margin: 0 auto;
  display: block;
  
  padding: 10px 0 15px 0;  
  text-align: center;
  font-size: 20px;
  background-color: #d6d3cefd;
}

  ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
  }
  ul li a {
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 25px;
    border-radius: 50px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
  }

  li a {
    color: black;

  }

  li a:hover {
    color: #3ca0e7;
  }

  li:hover {
    cursor: pointer;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
    color: #3ca0e7;
  }

  ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }

  ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
  }



a:hover {

  text-decoration: none;

  color: #3CA0E7;
  }



ul li ul li a { transition: all 0.5s ease; }

.main {
text-align: center;

}
.main img {
position: relative;
z-index: -1;
width: 1903px;

}



.main h1 {
position: inherit;
}

/* end of NavBar */


/* Start of ForEach Card css */

.layout {
  margin-top: 150px;
  width: 1920px;
  height: 1080px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  }

  
  
  .layout div {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    }

  .layout img {
    position: relative;
    height: 250px;
    width: 200px;
    
  }

  .layout button {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #131ccf;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 10px;
    
  }
  
  .layout button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  /* End of ForEach for Cards */


  
  /* .table {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .table h2 {
    border:1px solid #b3adad;
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
  } */



  /* CSS for Create Account */

  html {
    -webkit-font-smoothing: antialiased; }
  
  body {
    background-color: #b6b2b2;
    font-family: 'Titillium Web', sans-serif; }
    @media screen and (min-width: 40em) {
      body {
        font-size: 1.25em; } }
  
  .form .label, .form .checkbox-input + label, .form .option-input + label, .form .text-input, .form .textarea, .form .select, .customSelect, .form .message, .form .button {
    padding: .75em 1em;
    appearance: none;
    outline: none;
    line-height: normal;
    border-radius: 0;
    border: none;
    background: none;
    display: block; }
  
  .form .label {
    font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 10px;
    letter-spacing: .025em;
    font-size: 1.125em;
    line-height: 1.25;
    position: relative;
    z-index: 100; }
    .required .form .label:after, .form .required .label:after {
      content: '\0020*';
      color: #E8474C;
      font-weight: normal;
      font-size: .75em;
      vertical-align: top; }
  
  .form .checkbox-input + label, .form .option-input + label, .form .text-input, .form .textarea, .form .select, .customSelect {
    font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    background: #222222;
    color: white;
    position: relative; }
    .form .checkbox-input + label:placeholder, .form .option-input + label:placeholder, .form .text-input:placeholder, .form .textarea:placeholder, .form .select:placeholder, .customSelect:placeholder {
      color: white; }
    .form .checkbox-input + label:-webkit-autofill, .form .option-input + label:-webkit-autofill, .form .text-input:-webkit-autofill, .form .textarea:-webkit-autofill, .form .select:-webkit-autofill, .customSelect:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #111111 inset;
      -webkit-text-fill-color: white;
      border-top-color: #111111;
      border-left-color: #111111;
      border-right-color: #111111; }
    .form .checkbox-input + label:not(:focus):not(:active).error, .form .option-input + label:not(:focus):not(:active).error, .form .text-input:not(:focus):not(:active).error, .form .textarea:not(:focus):not(:active).error, .form .select:not(:focus):not(:active).error, .customSelect:not(:focus):not(:active).error, .error .form .checkbox-input + label:not(:focus):not(:active), .form .error .checkbox-input + label:not(:focus):not(:active), .error .form .option-input + label:not(:focus):not(:active), .form .error .option-input + label:not(:focus):not(:active), .error .form .text-input:not(:focus):not(:active), .form .error .text-input:not(:focus):not(:active), .error .form .textarea:not(:focus):not(:active), .form .error .textarea:not(:focus):not(:active), .error .form .select:not(:focus):not(:active), .form .error .select:not(:focus):not(:active), .error .customSelect:not(:focus):not(:active) {
      background-size: 8px 8px;
      background-image: linear-gradient(135deg, rgba(232, 71, 76, 0.5), rgba(232, 71, 76, 0.5) 25%, transparent 25%, transparent 50%, rgba(232, 71, 76, 0.5) 50%, rgba(232, 71, 76, 0.5) 75%, transparent 75%, transparent);
      background-repeat: repeat; }
  
  .form:not(.has-magic-focus) .checkbox-input + label:active, .form:not(.has-magic-focus) .option-input + label:active, .form:not(.has-magic-focus) .text-input:active, .form:not(.has-magic-focus) .textarea:active, .form:not(.has-magic-focus) .select:active, .form:not(.has-magic-focus) .customSelect:active, .form:not(.has-magic-focus) .checkbox-input + label:focus, .form:not(.has-magic-focus) .option-input + label:focus, .form:not(.has-magic-focus) .text-input:focus, .form:not(.has-magic-focus) .textarea:focus, .form:not(.has-magic-focus) .select:focus, .form:not(.has-magic-focus) .customSelect:focus, .form:not(.has-magic-focus) .customSelect.customSelectFocus {
    background: #4E4E4E; }
  
  .form .message {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    font-size: .625em;
    color: white; }
  
  .form .checkbox-input, .form .option-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
    .form .checkbox-input + label, .form .option-input + label {
      display: inline-block;
      width: auto;
      color: #4E4E4E;
      position: relative;
      user-select: none;
      cursor: pointer; }
    .form .checkbox-input:focus + label, .form .option-input:focus + label, .form .checkbox-input:active + label, .form .option-input:active + label {
      color: #4E4E4E; }
    .form .checkbox-input:checked + label, .form .option-input:checked + label {
      color: white; }
  
  .form .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background: #E8474C;
    color: white;
    font-weight: bold;
    width: auto;
    margin-left: auto;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em; }
    .form .button:hover, .form .button:focus, .form .button:active {
      color: white;
      border-color: white; }
    .form .button:active {
      position: relative;
      top: 1px;
      left: 1px; }
  
  body {
    padding: 2em; }
  
  .form {
    max-width: 900px;
    margin: auto;
    margin-top: 45px;    
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end; 
    background-color: #111111;}
    
    .form .field {
      width: 100%;
      margin: 0 0 1.5em 0; }
      @media screen and (min-width: 40em) {
        .form .field.half {
          width: calc(50% - 1px); } }
      .form .field.last {
        margin-left: auto; }
    .form .textarea {
      max-width: 100%; }
    .form .select {
      text-indent: 0.01px;
      text-overflow: "" !important; }
      .form .select::-ms-expand {
        display: none; }
    .form .checkboxes, .form .options {
      padding: 0;
      margin: 0;
      list-style-type: none;
      overflow: hidden; }
    .form .checkbox, .form .option {
      float: left;
      margin: 1px; }
      .form h4 {
        color: #ffffff;
        padding-left: 10px;
      }
  
  .customSelect {
    pointer-events: none; }
    .customSelect:after {
      content: '';
      pointer-events: none;
      width: .5em;
      height: .5em;
      border-style: solid;
      border-color: white;
      border-width: 0 3px 3px 0;
      position: absolute;
      top: 50%;
      margin-top: -.625em;
      right: 1em;
      transform-origin: 0 0;
      transform: rotate(45deg); }
    .customSelect.customSelectFocus:after {
      border-color: white; }
  
  .magic-focus {
    position: absolute;
    z-index: 0;
    width: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.15);
    transition: top .2s, left .2s, width .2s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: top, left, width;
    transform-origin: 0 0; }
  